<div class="wrapper">

  <!-- Início do header -->
  <mt-header> </mt-header>
  <!-- Fim do header -->


  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">

      <router-outlet></router-outlet>

    </div>
  </div>

  <!-- snakbar deve ser aqui conteudo aqui contente-->

  <footer class="main-footer"> <!--rodape = footer-->
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Meat</strong> Angular Application
    </div>
  </footer>
</div>
